* {
  box-sizing: border-box;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}
.bodybr{
  background-color: #d1d1d1;
  padding-bottom: 10px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 1%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
/*@media only screen and (max-width: 600px) {
  div.example {
    display: none;
  }
}
*/
@media only screen and (min-width: 608px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 769px) {
  /* For desktop: */
  .col-w-1 {width: 8.33%;}
  .col-w-2 {width: 16.66%;}
  .col-w-3 {width: 25%;}
  .col-w-4 {width: 33.33%;}
  .col-w-5 {width: 41.66%;}
  .col-w-6 {width: 50%;}
  .col-w-7 {width: 58.33%;}
  .col-w-8 {width: 66.66%;}
  .col-w-9 {width: 75%;}
  .col-w-10 {width: 83.33%;}
  .col-w-11 {width: 91.66%;}
  .col-w-12 {width: 100%;}
}


.header {
  margin-left: 1%;
/*  border: 1px solid red;*/
  padding: 15px;
}

.center{
	text-align: center;
	font-size: 150%;
}
.left{
  text-align: left;
  font-size: 150%;
}
.dropdownbox{
	border: 1px solid black;
	padding-bottom: 5px;
}
.buttonlike{
    display:inline-block;
    color:white;
    border:1px solid #CCC;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    width: 100%;
    max-width: 100%;
    padding: 5px;
    text-align: center;
}
/*.buttonlike:active {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}*/
.booked{
	background:#f0484e;
}
.free{
	background:#49eb46;
}
.waiting{
    background:#ffb30f;
}
input{
  width: 75%;
}